/* General Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background: #F2F3F5;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #B9B9B9;
    padding: 12px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

thead th {
    background-color: rgba(199, 210, 240, 0.50);
    color: black;
    font-weight: 600;
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.50);
}

tbody tr:nth-child(odd) {
    background-color: rgba(199, 210, 240, 0.25);
}

tbody td {
    font-weight: 400;
    font-size: 13px;
    color: black;
}

    tbody td.null {
        color: gray;
        text-align: center;
    }

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    th, td {
        font-size: 12px;
    }
}
