/*Obsługa wszytskich tabel*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background: #F2F3F5;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #B9B9B9;
    padding: 12px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

thead th {
    background-color: rgba(199, 210, 240, 0.50);
    color: black;
    font-weight: 600;
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.50);
}

tbody tr:nth-child(odd) {
    background-color: rgba(199, 210, 240, 0.25);
}

tbody td {
    font-weight: 400;
    font-size: 13px;
    color: black;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #applyFilters, #button8, #button9, #button10, #button11, #button12, #button13, #button14, #button15, #button16, #button17, #button18, #button19, #button20, #addEmployeeToProject, #addEmployeeToProjectFile, #addKpiToProject, #button21, #button22, #button23, #button24, #SaveAfterEdition, #button25, #button26{
    background-color: #A5A6BD; /* Zielony kolor tła */
    color: black; /* Biały kolor tekstu */
    padding: 10px 20px; /* Wielkość wypełnienia */
    border: none; /* Usunięcie obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    text-align: center; /* Wyrównanie tekstu do środka */
    text-decoration: none; /* Usunięcie domyślnego podkreślenia */
    font-size: 12px;
    margin-right: 15px;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover ,#button5:hover, #button6:hover, #button7:hover, #applyFilters:hover, #button8:hover, #button9:hover, #button10:hover, #button11:hover, #button12:hover, #button13:hover, #button14:hover, #button15:hover, #button16:hover, #button17:hover, #button18:hover, #button19:hover, #button20:hover, #addEmployeeToProject:hover, #addEmployeeToProjectFile:hover, #addKpiToProject:hover, #button21:hover, #button22:hover, #button23:hover, #button24:hover, #SaveAfterEdition:hover, #button25:hover, #button26:hover, #button26:hover{
    background-color: rgba(199, 210, 240, 0.50); /* Ciemniejszy zielony kolor tła po najechaniu myszką */
    font-weight: bold;
}

tbody td.null {
    color: gray;
    text-align: center;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    th, td {
        font-size: 12px;
    }
}

input[type="text"] {
    width: 100%; /* Ustawienie szerokości na 100% szerokości rodzica (czyli komórki tabeli) */
    box-sizing: border-box; /* Ustawienie box-sizing na border-box, aby szerokość uwzględniała padding i border */
    text-transform: uppercase; /* Zamieniaj wprowadzany tekst na duże litery */
}

#filterImie, #filterNazwisko {
    /* Stylizacja dla pól tekstowych */
    width: 200px; /* Ustawienie szerokości */
    padding: 8px; /* Dodanie wypełnienia */
    margin-right: 10px; /* Dodanie marginesu na prawo */
    margin-top: 20px; /* Dodanie marginesu na górę */
    border: 1px solid #ccc; /* Dodanie obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    font-size: 14px; /* Ustawienie rozmiaru czcionki */
}

#mySelect {
    width: 200px;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#container-wrapper {
    display: flex; /* Ustawienie kontenera na flexbox */
    justify-content: center; /* Wyśrodkowanie zawartości względem osi poziomej */
    align-items: center; /* Wyśrodkowanie zawartości względem osi pionowej */
    position: absolute; /* Pozycja bezwzględna */
    top: 100px; /* Odległość od górnej krawędzi strony */
    left: 50%; /* Wyśrodkowanie w poziomie */
    transform: translateX(-50%); /* Przesunięcie o połowę szerokości elementu w lewo */
}

#labels-container, #labels-container-project {
    width: 300px; /* Ustawienie szerokości */
    padding: 8px; /* Dodanie wypełnienia */
    border: 1px solid #ccc; /* Dodanie obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    font-size: 14px; /* Ustawienie rozmiaru czcionki */
    color: black; /* Kolor tekstu */
    background-color: #F2F3F5; /* Kolor tła */
    font-weight: bold; /* Pogrubienie tekstu */
    display: flex; /* Ustawienie kontenera na flexbox */
    justify-content: center; /* Wyśrodkowanie zawartości względem osi poziomej */
    align-items: center; /* Wyśrodkowanie zawartości względem osi pionowej */
    gap: 10px; /* Dodanie odstępu między elementami wewnątrz kontenera */
    margin: 0 10px; /* Dodanie marginesu między kontenerami */
}

#input9, #input10{
    width: 200px;
}

#labelProjekt, #labelProjekt2{
    border: 1px solid #B9B9B9;
    padding: 12px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 10px;
}

#projektyDoPremii{
    margin: 100px auto 0;
}

/* Stylizacja dla radiobuttona */
input[type="radio"] {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Stylizacja dla komórki zawierającej radiobuttona */
td:first-child {
    width: 30px;
    text-align: center;
}
/* Stylizacja formularza dynamicznego */
#dynamicForm, #dynamicForm2 {
    background: #F2F3F5;
    border: 1px solid #B9B9B9;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto 0 50 px 0;
    width: fit-content;
    float: left;
}

#dynamicForm label, #dynamicForm2 label{
    display: block;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}

#dynamicForm input[type="text"], #dynamicForm2 input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    box-sizing: border-box;
}

#dynamicForm button, #dynamicForm2 button {
    background-color: #A5A6BD;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
}

#dynamicForm button:hover, #dynamicForm2 button:hover {
    background-color: rgba(199, 210, 240, 0.50);
    font-weight: bold;
}

/* Stylizacja dla sekcji tfoot */
tfoot {
    background-color: rgba(199, 210, 240, 0.50); /* Kolor tła dla tfoot */
    font-weight: bold; /* Pogrubienie tekstu */
}

tfoot td {
    border: 1px solid #B9B9B9;
    padding: 12px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px; /* Rozmiar czcionki */
    color: black; /* Kolor tekstu */
}

#button25 {
    margin-top: 20px; /* Dodaj margines na górze */
    margin-bottom: 20px; /* Dodaj margines na dole */
}

#typCzasuRozliczenia {
    width: 20%; /* Tutaj ustawiasz szerokość, np. 80% */
    margin-left: 0;
}

#premiaPodsumowanie {
    margin-top: 100px; /* Dodaj margines na górze */
}
